body {
	 background-color: #EBEBEB;
}
nav {
	background: none repeat scroll 0 0 #EBEBEB;
	position: absolute;
	top: 0;
	z-index: 500;
}
.top-nav {
	background: none repeat scroll 0 0 transparent;
}
.top-nav ul {
	padding: 0;
}

.logo {
	margin: 0;
	text-align: center;
	width: 100%;
}

#top-logo {
	background-image: url('../img/logo.png');
	width: 222px;
	height: 65px;
	margin: 0 auto;
}

.top-nav li a {
	font-size: 0.9rem;
	text-transform: uppercase;
}
.top-nav .logo a, .top-nav .logo.active-item a {
	color: #fff;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1rem;
}
.top-nav .logo a strong {
  font-weight: 800;
  line-height: 1.5;
}
.top-nav {
	text-align: center;
}
.top-nav li a:hover, .top-nav li.active-item a, .top-nav .logo.active-item a:hover {
	background: none repeat scroll 0 0 #fff;
	color: purple;
}
.top-nav li.logo a, .top-nav li.logo.active-item a, .top-nav .logo {
	background: none repeat scroll 0 0 transparent;
	box-shadow: none;
	border:none;
}

nav ul li ul li {
	text-align: left;
}
.top-nav ul ul {
	background: none repeat scroll 0 0 rgb(0, 30, 34);
}
.top-nav li ul li a {
	background: none repeat scroll 0 0 rgb(0, 30, 34);
}

.whiteBg {
	background: none !important;
	background-color: #fff !important;
}

#first-block, #second-block, #third-block, #fourth-block {
	text-align: center;
	padding: 2rem 0;
}
#first-block {
	background-color: #2D2D2D;
	color:#FFF;
}
#first-block i {
	background: none repeat scroll 0 0 #2D2D2D;
	border-radius: 100px;
	color: #fff;
	display: block;
	line-height: 100px;
	margin: 0 auto;
	width: 100px;
}
#first-block h1, #first-block h2, #first-block h3 {
	color: #fff;
}
#first-block img {
	width: 78px;
	height: 78px;
}
#map {
    height: 256px;
    width: auto;
    background-repeat: no-repeat;
    margin: 0 auto;
	background-size: 100%;
}
#third-block {
	background: #EBEBEB;
}
#third-block img {
	width: 215px;
    height: 208px;
    border: 8px solid white;
}

#third-block #twitter_bird {
	border: none;
	height: 20px;
}

.user_frame {
	background-image:url('../img/tilted_frame.png'); 
	width: 234px; 
	height: 226px; 
	background-position: 0px 2px; 
	padding: 9px; 
	margin: 0 auto;
}

.user_twitter {
    width: 33px;
    height: 28px;
    background-image: url('../img/twitter.png');
    background-color: #8F33C4;
    position: relative;
    bottom: 36px;
    left: 174px;
    background-position: 2px 3px;
    background-repeat: no-repeat;
	cursor: pointer;
}

#second-block p {
	color: #000;
}
#second-block article:nth-child(1) {
	float: left;
}

#second-block article:nth-child(2) {
	float: right;
}

#second-block {
	text-align: left;
}

#second-block article{
	background-color: #fff;
	padding: 30px;
}

#second-block h1, #second-block h2, #second-block h3, #second-block p {
	color: #000;
	text-align: left;
	text-transform: none;
}

#fourth-block {
	text-align: left;
}
#fourth-block h1, #fourth-block h2, #fourth-block h3, #fourth-block p {
	color: #000;
	text-align: left;
	text-transform: none;
}
#fourth-block article{
	background-color: #fff;
	padding: 30px;
}

#socialNetworks img {
	cursor: pointer;
}

li > div.logo_container {
	margin:0;
	background: none;
}

li > div {
    position: relative;
    margin: 6px auto;
    display: block;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

footer {
	background: none repeat scroll 0 0 #373737;
	padding: 1.5em 0;
}
footer p, footer a:link, footer a:visited, footer a:hover {
	color: #fff;
}
footer li {
	display: inline;
    margin-left: 28px;
    color: #fff;
	cursor: pointer;
}
footer div span {
	float: left;
    width: 100%;
    text-align: center;
	position:absolute;
	bottom: 0;
	color: #fff;
}
section h2 {
	font-size: 2.5rem;
	font-weight: 300;
	margin: 0;
}
p.subtitile {
	color: #999;
	font-size: 14px;
	font-weight: bold;
}
section h3 {
	font-size: 1.3rem;
	font-weight: 300;
	margin: 0.8rem 0;
}
section p {
	font-size: 0.8rem;
}
section h1 {
	color: #fff;
	font-size: 2.5rem;
	font-weight: 300;
}

a.button {
	background: none repeat scroll 0 0 #2fcbe0;
	border: 0 none;
	border-radius: 5px;
	color: rgb(0, 30, 34);
	font-size: 0.8rem;
	font-weight: 600;
	padding: 0.625rem;
	text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  body {
  	background: none repeat scroll 0 0 rgb(0, 30, 34);
  }
  nav {
  	background: none repeat scroll 0 0 rgb(0, 30, 34);
  	line-height: 1rem;
  	position: relative;
  }
  .top-nav {
  	text-align: left;
  }
  .top-nav li span{
    float: left;
    width: 100%;
    text-align: center;
  }
  .top-nav .logo {
  	padding: 1.25rem;
  }
  ul.top-ul {
  	padding: 0;
  }
  ul.top-ul.right {
  	float: none;
  }
  footer {
    text-align: center;
  }
  footer .right {
    float: none;
  }
  
  #second-block article {
	float: none !important;
  }
  
  footer div span {
	position: relative !important;
  }
}


